@import "variables";
@import '~prismjs/themes/prism.css';
@import "~bootstrap/scss/bootstrap-grid";
* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--heading-color);
}
h1,h3 {
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
}
p,strong,span {
  font-size: 14px;
}
.brand-primary {
  color: var(--primary-color);
}
